* {
    background-image: none;
    transition: 60ms ease;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    background-color: rgba(20, 17, 15, 0.75);
}

button {
    color: #e8ddd0;
    background-color: #241f1c;
    border-style: solid;
    border-width: 2px;
    border-color: #a1673f;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    font-size: 28px;
    outline-color: #a1673f;
}

button:focus,
button:active,
button:hover,
button:selected,
button:checked {
    background-color: #a1673f;
    color: #241f1c;
    border-color: #a1673f;
    outline-style: none;
    box-shadow: none;
}
